body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0)55;
    background-color: rgb(149, 102, 165);
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: rgb(148, 202, 55);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    /* font-weight: bold;
    font-size: 18px; */
}
a:visited {
    color: rgb(217, 219, 184);
}
.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}

.homebg {
    background-image: url('https://images.squarespace-cdn.com/content/v1/611d8b60998fa36711698a9e/1664480943153-DBXHO66OUTCFMOTSRE10/GR_socialimage.png');
    width: 100%;
    height: auto;
    background-position: top;
    /* background-repeat: ; */
}

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    /* border: 1px solid red; */
}
.box2 {
    padding: 5px;
}
/* Wouldn't normally use just the word box */
.box3 {
    margin: 50px;
}